.container {
    background-color: black;
    background-image: url(../img/matrix.gif);
    font-size: 16px;

}

#time {
    color: #33ff33;
    background-color: #003300;
    border-color: 5px solid #33ff33;
    font-family: courier, monospace;
    font-size: 5em;
    width: 400px;
    height: 150px;
    margin: auto;
    text-align: center;
    text-shadow: 2px 2px 8px  #33ff33;

    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;    
}


@media (max-width: 320px) {
    #time {
        font-size: 50px;
        width: 300px;
        height: 100px;
    }
}